[Unit]
Description=Automatically login BUAA-Wifi at system startup.
After=network-online.target
Wants=network-online.target

[Service]
Environment=PYTHONUNBUFFERED=1
StandardOutput=append:/var/log/buaa_wifi_login.log
Type=simple
Restart=on-failure
RestartSec=15s
ExecStart=/path/to/your/python /path/to/buaa_wifi_login.py
WorkingDirectory=/path/to/buaa_wifi_login
Group=systemd-journal

[Install]
WantedBy=multi-user.target
